.App {
  text-align: center;
}
.App nav {
  background: #000;
}

.App nav ul {
  padding: 10PX;
}

.App nav li {
  list-style: none;
  display: inline;
}
.App nav li a {
  color: aliceblue;
  text-decoration: none;
  padding: 10px;
}

.App nav li a:hover {
  background-color: slateblue;
}